body{
    font-family:"Roboto", sans-serif;
    color:#2c2c2c;
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, p{
    margin: 0;
    
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
.btn-content {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    min-width: 98px;
    height: 32px;
    background: #BBF330;
    border:none;
    border-radius: 30px;
}
.header-container{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: auto;
}
/* ____________HEADER____________ */
.header {
}
.header-nav {
    margin-right: 30px;
}
.header-menu {
    display: flex;
    gap: 28px;
}
.header-list {
    
}
.nav-link{
    padding: 28px 0;
    display: block;
    font-size: 14px;
    color: #2C2C2C;
}
.nav-link:hover,
.nav-link:focus{
    font-weight: 700;
    text-decoration: underline;
    color: #BBF330;
}
/* ____________SECTION1__________ */
.section-one {
    
}
.hero-container{
   display: flex;
   align-items: center;
   gap:143px;
}
.hero-text-wrap{

}
.section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-bottom: 20px;
}
.section-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2C2C2C;
}

/* ____________SECTION2__________ */
.about {
    padding-top: 113px;
    padding-bottom: 124px;
    background: #ffe550;
}
.about-container {
    display: flex;
}
.about-title {
}
.about-text {
}
.about-list {
}
.about-item {
}
.about-subtitle {
}
.about-decr {
}
.about-btn {
}
.about-wrap{
    
}

/* ____________SECTION3__________ */

/* ____________SECTION4__________ */


/* ____________SECTION5__________ */

/* ____________FOOTER____________ */